@font-face {
  font-family: "MyriadApple";
  src: url("../fonts/MYRIADAT.TTF");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MyriadApple";
  src: url("../fonts/MYRIAATI.TTF");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "MyriadApple";
  src: url("../fonts/MYRIADAM.TTF");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyriadApple";
  src: url("../fonts/MYRIAAMI.TTF");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "MyriadApple";
  src: url("../fonts/MYRIADAS.TTF");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "MyriadApple";
  src: url("../fonts/MYRIAASI.TTF");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "MyriadApple";
  src: url("../fonts/MYRIADAB.TTF");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "MyriadApple";
  src: url("../fonts/MYRIAABI.TTF");
  font-weight: 800;
  font-style: italic;
}
