//Base Variable of Project
$gap: 10px;

// Color
$color-primary: #0173b1;
$color-secondary: rgb(0, 164, 0);
$color-gray: #4a4a4a;
$color-light: #cfd9e6;
$color-blue: #251e40;
$color-white: #fff;
$color-error: #b24020;
$color-warning: #f80;
$color-success: rgb(0, 164, 0);
$color-info: #09c;

$base-color: #222222;
$color-light: rgb(164, 164, 164);
$color-link: $color-primary;
$color-invert: lighten($base-color, 100%);

// Font Styling
$font-family: "MyriadApple", Tahoma, Geneva, Verdana, sans-serif;
$font-size: 16px;
// $font-weight-thin: 100;
// $font-weight-light: 300;
$font-weight: 600;
$font-weight-bold: 800;
// $font-weight-black: 800;

$box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
$border-radius: 4px;
$background-color: #fff;

// z-index Defination
$notification: 9999;
$loader: 100;
$modal: 90;
$header: 10;
$footer: 10;
